@font-face {
  font-family: 'GeneralSans-Med';
  src: url(../fonts/GeneralSans/GeneralSans-Medium.otf);
}

@font-face {
  font-family: 'GeneralSans-Reg';
  src: url(../fonts/GeneralSans/GeneralSans-Regular.otf);
}

.event-card {
  width: 285px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 1rem;
}

.event-card-image {
  width: 100%;
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
}

.event-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.event-date-card {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.event-date-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.event-month {
  font-size: 14px;
  color: #4F4CEE;
}

.event-day {
  font-size: 24px;
  font-weight: bold;
}

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 35px;
}

.event-name {
  font-family: 'GeneralSans-Med';
  font-size: 16px;
  margin: 0;
}

.event-location-card {
  font-family: 'GeneralSans-Reg';
  font-size: 14px;
  color: #666;
  margin: 0;
}
